.counter_body {
    border: 1px solid black;
    border-radius: 4px;
    width: 250px;
    height: 150px;
    padding: 10px;
}
.norm {
    border: 1px solid black;
    border-radius: 4px;
    width: 90%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10px;
    
}
.text_count{
    font-size: 50px;
}
.text_red {
    font-size: 23px;
    color:red
}

.count_equa {
    color:red;
    font-size: 50px;
}
.text_save {
    color:green;
    font-size: 23px;
}