.counter_siting {
  border: 1px solid black;
  border-radius: 4px;
  width: 250px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.counter_siting input {
  margin-top: 10px;
}
.counter_siting button {
  margin-bottom: -3px;
}