.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  height: 80vh;
  padding: 15px;
}
*{
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body{
  background: url('triangles-download.png') no-repeat center center fixed;
  padding: 0;
  margin: 0;
  background-size: cover;
}

